<configuration>
    <condition class="ch.qos.logback.core.boolex.PropertyEqualityCondition">
        <key>quiet</key>
        <value>true</value>
    </condition>
    <if>
        <else>
            <condition class="ch.qos.logback.core.boolex.PropertyEqualityCondition">
                <key>debug</key>
                <value>true</value>
            </condition>
            <if>
                <then>
                    <include resource="logback-debug.xml"/>
                </then>
                <else>
                    <include resource="logback-release.xml"/>
                </else>
            </if>
        </else>
    </if>
</configuration>