<configuration>
    <if condition='!property("quiet").equals("true")'>
        <then>
            <if condition='property("debug").equals("true")'>
                <then>
                    <include resource="logback-debug.xml"/>
                </then>
                <else>
                    <include resource="logback-release.xml"/>
                </else>
            </if>
        </then>
    </if>
</configuration>